name: Build Image

on:
  release:
    types: [published]
  push:

jobs:
  build-and-deploy:
    name: Build and deploy
    uses: chukysoria/workflows/.github/workflows/build-image.yml@512ec689f489f3ee7c880bdb8a0b8618f5b00be4 # v1.1.20
