name: Build Image

on:
  release:
    types: [published]
  push:

jobs:
  build-and-deploy:
    name: Build and deploy
    uses: chukysoria/workflows/.github/workflows/build-image.yml@4b247e285a531b5e101c50a8708d7ec7e28cff99 # v1.1.26
