name: 'Release Drafter'

on:
  push:
    branches:
      - main
      - master

jobs:
  update_release_draft:
    name: Release
    uses: chukysoria/workflows/.github/workflows/new-release.yml@4b247e285a531b5e101c50a8708d7ec7e28cff99 # v1.1.26
